%h1 What do you feel like tonight?
%div
  %p Choose category
  = select_tag(:category, options_for_select(categories_for_select))
  #selection
  #list
#map
%script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLlFOiBK4ncqm_t4-QPo_-VmhD84MNhHc&callback=initMap" async defer)
