%h1 Restaurants#show
- array = request.url.split("/")
- restaurant_id = array[4]
= Restaurant.find_by(id: restaurant_id)
%button{ onclick: "toggleDiv(menu)", title: "Menu", type: "button"} Menu
#menu
