- array = request.url.split("/")
- restaurant_id = array[4]
- rest = Restaurant.find_by(id: restaurant_id)

%h1= rest[:name]

%button{id: "menu_button"} Menu

#menu
- menu_list = Menu.where(restaurant_id: restaurant_id)
- menu_list.each do |menu_item|
  %h3= menu_item[:name]
