- array = request.url.split("/")
- restaurant_id = array[4]
- rest = Restaurant.find_by(id: restaurant_id)

%h1= rest[:name]

- menu_list = Menu.where(restaurant_id: restaurant_id)
- menu_list.each do |menu_item|
  = link_to menu_item[:name], dishes_path
  - @selected_menu = menu_item
