%footer.footer
  .row
    .small-12.medium-6.large-5.columns
      %p.logo
        %i.fi-skull
        Slow Food
      %p.footer-links
        %a{href: '#'} Home
        %a{href: '#'} Pricing
      %p.copywrite Coded with love at CraftAcademy Bootcamp
    .small-12.medium-6.large-4.columns
      %ul.contact
        %li
          %p
            %i.fi-marker>
            1234 Address, City, Country
        %li
          %p
            %i.fi-mail>
            slowfood@craftacademy.se
    .small-12.medium-12.large-3.columns
      %p.about Slow Food
      %p.about.subheader Everything You Need to Know About Slow Food In Your Area
      %ul.inline-list.social
        %a{href: '#'}
          %i.fi-social-facebook
        %a{href: '#'}
          %i.fi-social-twitter
        %a{href: '#'}
          %i.fi-social-github